/**
 * #.#  Blog styles
 *
 * This stylesheet include styles for blog archives and posts
 */

.et_pb_blog_grid .et_pb_post {
    border : none;
}

.et_pb_blog_grid .et_pb_post .et_pb_image_container,
.et_pb_post .entry-featured-image-url {
    margin-bottom : 0 !important;
}

.et_pb_blog_grid .et_pb_post .entry-title {
    font-size   : 20px;
    line-height : 1.1;
    font-weight : 600;
    background  : #FFF;
    position    : relative;
    z-index     : 10;
}

@media (min-width : 501px) {
    .et_pb_blog_grid .et_pb_post .post-meta,
    .et_pb_blog_grid .et_pb_post .post-content {
        padding : 0 25px;
    }

    .et_pb_blog_grid .et_pb_post .entry-title {
        padding : 25px 25px 10px;
        margin  : -25px auto 0 !important;
    }
}

@media (max-width : 500px) {
    .et_pb_blog_grid .et_pb_post .post-meta,
    .et_pb_blog_grid .et_pb_post .post-content {
        padding : 0 15px;
    }

    .et_pb_blog_grid .et_pb_post .entry-title {
        padding : 25px 15px 10px;
        margin  : -25px auto 0 !important;
    }
}

.blog #left-area .et_pb_post .post-meta,
.archive #left-area .et_pb_post .post-meta,
.et_pb_blog_grid .et_pb_post .post-meta {
    text-transform : uppercase;
    font-weight    : normal;
}

.et_pb_blog_grid .et_pb_post .post-content {
    font-size   : 14px;
    line-height : 1.5;
    font-weight : 300;
}

.blog .et_pb_post a.more-link,
.archive .et_pb_post a.more-link,
.et_pb_blog_grid .et_pb_post a.more-link {
    padding       : 6px 10px;
    text-align    : center;
    border        : 1px solid;
    font-weight   : 500;
    border-radius : 1px;
    font-size     : 13px;
    line-height   : 1.2;
    display       : block;
    margin-top    : 20px;
    max-width     : 130px;
}

/**
 * #.#   Blog archive page
 *
 */

.blog #left-area .et_pb_post,
.archive #left-area .et_pb_post {
    font-size     : 14px;
    line-height   : 1.5;
    font-weight   : 300;
    background    : #FFF;
    transition    : 0.5s ease-in-out;
    margin-bottom : 30px !important;
}

.blog .et_pb_post .post-content-wrapper,
.archive .et_pb_post .post-content-wrapper {
    width        : 90%;
    padding      : 35px 30px;
    margin-left  : auto;
    margin-right : auto;
    background   : #FFF;
    position     : relative;
    overflow     : hidden;
    z-index      : 10;
}

.blog .et_pb_post.has-post-thumbnail .post-content-wrapper,
.archive .et_pb_post.has-post-thumbnail .post-content-wrapper,
.blog .et_pb_post.format-video .post-content-wrapper,
.archive .et_pb_post.format-video .post-content-wrapper {
    margin-top : -30px;
}

.blog .et_pb_post h2.entry-title,
.archive .et_pb_post h2.entry-title {
    line-height : 1.1;
    font-size   : 25px;
    font-weight : 600;
}

.et_pb_post .et_pb_gallery_post_type .et_pb_slide {
    min-height : 300px;
}

.et_audio_content h2,
.et_link_content h2,
.et_quote_content blockquote p {
    line-height : 1.5;
    font-size   : 20px;
}

.et_pb_post.format-quote .et_quote_content:before {
    font-family   : "ETmodules";
    text-align    : center;
    font-size     : 50px;
    line-height   : 1;
    font-weight   : bold;
    display       : block;
    margin-top    : -10px;
    margin-bottom : 5px;
    color         : rgba(0, 0, 0, 0.15);
    content       : "\7b";
}

@media (max-width : 500px) {
    .blog .et_pb_post h2.entry-title,
    .archive .et_pb_post h2.entry-title {
        font-size     : 20px;
        margin-bottom : 5px;
    }

    .blog .et_pb_post .post-content-wrapper,
    .archive .et_pb_post .post-content-wrapper {
        width   : 95%;
        padding : 30px 20px;
    }
}

/**
 * #.#   Single post
 *
 */

.single-post .et_main_thumbnail_container {
    text-align : center;
}

.single-post h2.entry-title {
    font-weight   : 700;
    font-size     : 30px;
    margin-bottom : 10px;
}

.single-post .pb_disabled .entry-content {
    font-size   : 15px;
    line-height : 1.7;
    font-weight : normal;
}

@media (min-width : 500px) {
    .single-post .post_title_wrapper {
        background : #FFF;
        padding    : 40px 30px 0;
        position   : relative;
        z-index    : 5;
    }

    .single-post .format-standard.has-post-thumbnail .post_title_wrapper {
        margin-top : -40px;
    }

    .single-post .post_title_wrapper {
        width        : 90%;
        margin-right : auto;
        margin-left  : auto;
    }

    .single-post .pb_disabled .entry-content {
        width        : 90%;
        margin-right : auto;
        margin-left  : auto;
        padding      : 0 30px;
    }
}

@media (max-width : 500px) {
    .single-post .post_title_wrapper {
        padding-top : 30px;
    }

    .single-post .pb_disabled .entry-content {
        padding-top : 15px;
    }

    .single-post h2.entry-title {
        font-weight : 600;
        font-size   : 25px;
    }
}

/**
 * #.#   Related Posts
 *
 */

.related-posts {
    font-size   : 0;
    line-height : normal;
    padding     : 50px 0;
    position    : relative;
    background  : #FFF;
    border-top  : 1px solid rgba(0, 0, 0, 0.1);
}

.related-posts .et_pb_row {
    padding : 0 !important;
    margin  : 0 auto;
    width   : 80%;
}

.related-posts h1 {
    font-size      : 26px;
    margin-bottom  : 20px !important;
    padding-bottom : 0 !important;
    line-height    : 1.2;
    font-weight    : 700;
}

.related-thumb-wrapper {
    background : #FFF;
}

.related-thumb-wrapper .thumb-container {
    height              : 200px;
    background-color    : #222;
    background-size     : cover;
    background-position : center;
    position            : relative;
}

.related-thumb-wrapper .thumb-container a {
    position : absolute;
    width    : 100%;
    height   : 100%;
}

.related-post-content {
    width      : 90%;
    margin     : -30px auto 0;
    background : #FFF;
    position   : relative;
    padding    : 20px 20px 30px;
}

.related-thumb h3.post-title {
    line-height   : 1.1;
    font-size     : 19px;
    font-weight   : 600;
    margin-bottom : 10px;
}

.related-thumb a.more-link {
    padding       : 5px 10px;
    text-align    : center;
    border        : 1px solid;
    font-weight   : 500;
    border-radius : 1px;
    font-size     : 13px;
    line-height   : 1.2;
}

@media (min-width : 791px) {
    .related-thumb {
        width          : 33.33%;
        padding        : 0 15px;
        display        : inline-block;
        vertical-align : top;
    }

    .related-posts {
        margin-left  : -15px;
        margin-right : -15px;
    }

    .related-posts h1 {
        margin-left : 15px;
    }
}

@media (max-width : 790px) {
    .related-thumb {
        margin-bottom : 25px;
    }
}

/**
 * #.#   Post navigation
 *
 */

.post-navigation {
    margin-top    : 30px;
    position      : relative;
    border-top    : 1px solid rgba(0, 0, 0, 0.05);
    border-bottom : 1px solid rgba(0, 0, 0, 0.05);
    font-size     : 0;
}

@media (min-width : 791px) {
    .post-navigation .post-navigation-previous,
    .post-navigation .post-navigation-next {
        width          : 50%;
        display        : inline-block;
        position       : relative;
        overflow       : hidden;
        vertical-align : middle;
    }

    .post-navigation .post-navigation-previous {
        text-align : right;
    }

    .post-navigation .post-navigation-previous a {
        padding-left : 60px;
    }

    .post-navigation .post-navigation-next a {
        padding-right : 60px;
    }

    .post-navigation .post-navigation-next a:before {
        right : 0;
    }

    .post-navigation .post-navigation-previous,
    .post-navigation .post-navigation-next {
        padding : 30px;
    }
}

@media (max-width : 790px) {
    .post-navigation {
        padding : 20px 0;
    }

    .post-navigation a {
        display   : block;
        font-size : 17px !important;
    }

    .post-navigation .post-navigation-previous a {
        margin-bottom : 10px;
    }

    .post-navigation .post-navigation-next a,
    .post-navigation .post-navigation-previous a {
        padding-left : 60px;
    }

    .post-navigation .post-navigation-next a:before {
        left : 0;
    }

    .post-navigation .post-navigation-previous,
    .post-navigation .post-navigation-next {
        padding : 15px !important;
    }
}

.post-navigation span {
    text-transform : uppercase;
    display        : block;
    margin-bottom  : 5px;
    font-size      : 13px;
    line-height    : 1.5;
}

.post-navigation .post-navigation-previous a,
.post-navigation .post-navigation-next a {
    position    : relative;
    transition  : 0.3s, ease-in;
    display     : block;
    font-weight : 600;
    font-size   : 18px;
    line-height : 1.15;
    color       : #000;
}

.post-navigation .post-navigation-previous a:before,
.post-navigation .post-navigation-next a:before {
    font-family : "ETmodules";
    width       : 38px;
    height      : 38px;
    text-align  : center;
    font-size   : 30px;
    line-height : 38px;
    display     : block;
    position    : absolute;
    top         : 50%;
    margin-top  : -19px;
}

.post-navigation .post-navigation-previous a:before {
    content : "\34";
    left    : 0;
}

.post-navigation .post-navigation-next a:before {
    content : "\35";
}

/**
 * #.#   Comments
 *
 */

@media (min-width : 500px) {
    .single-post.et_full_width_page #comment-wrap {
        width        : 90%;
        margin-right : auto;
        margin-left  : auto;
    }
}

#commentform {
    padding-bottom : 30px;
    position       : relative;
    overflow       : hidden;
}

h1#comments,
h3#reply-title {
    font-weight    : 600;
    font-size      : 20px;
    color          : #000;
    padding-bottom : 0;
    position       : relative;
}

h1#comments {
    margin-bottom : 30px;
}

h3#reply-title {
    margin-bottom : 5px;
}

h3#reply-title a#cancel-comment-reply-link {
    font-size : 14px;
}

.single .comment_area .comment-reply-link {
    padding       : 3px 10px !important;
    border-width  : 1px !important;
    border-style  : solid !important;
    font-weight   : 600;
    font-size     : 13px;
    border-radius : 1px;
    line-height   : 1.5;
    top           : 0;
}

.single .comment_area .comment-reply-link:hover {
    padding : 3px 10px !important;
}

.single .comment_area .comment-reply-link:after {
    display : none !important;
}

.comment #respond {
    margin-bottom : 30px;
}

#commentform .form-submit .et_pb_button {
    font-weight   : 700;
    font-size     : 15px;
    line-height   : 1.5 !important;
    padding       : 10px 20px !important;
    border-radius : 1px;
}

#commentform .form-submit .et_pb_button:hover {
    padding : 10px 20px !important;
}

#commentform input[type=email],
#commentform input[type=text],
#commentform input[type=url],
#commentform textarea {
    padding      : 13px 20px !important;
    font-size    : 14px !important;
    border-width : 1px !important;
    border-style : solid !important;
    transition   : all 0.3s, ease-in-out;
}

#commentform input[type=email],
#commentform input[type=text],
#commentform input[type=url] {
    line-height : 1 !important;
}

#commentform textarea {
    line-height : 1.5;
    padding     : 20px !important;
    width       : 100%;
}

@media (min-width : 700px) {
    p.comment-form-author,
    p.comment-form-email,
    p.comment-form-url {
        width : 32%;
        float : left;
    }

    p.comment-form-author,
    p.comment-form-email {
        margin-right : 2% !important;
    }

    p.comment-form-cookies-consent,
    p.comment-form-author input,
    p.comment-form-email input,
    p.comment-form-url input {
        width   : 100% !important;
        display : block;
    }

    p.comment-form-cookies-consent:before {
        content : "";
        clear   : both;
        display : table;
    }
}

span.fn,
span.fn a {
    font-size : 14px;
}

.comment-body {
    margin-bottom : 40px;
    padding-left  : 70px;
}

.comment_avatar img {
    width         : 50px !important;
    height        : 50px !important;
    object-fit    : cover;
    border-radius : 50%;
    max-width     : 100% !important;
}

/* Page builder fix */

.single-post.et_pb_pagebuilder_layout.et_full_width_page .post-navigation,
.single-post.et_pb_pagebuilder_layout.et_full_width_page #comment-wrap,
.single-post.et_pb_pagebuilder_layout.et_full_width_page .post_title_wrapper {
    max-width    : 1250px;
    width        : 90%;
    margin-left  : auto;
    margin-right : auto;
}