/**
 * #.#  WooCommerce styles
 *
 * This stylesheet include styles for WooCommerce plugin
 */

/**
 * #.#  Page header
 *
 */

#ecommerce-custom-header,
.et-db #et-boc .et-l #ecommerce-custom-header.et_pb_section {
    background : #F9F9F9;
    padding    : 50px 0;
}

#ecommerce-custom-header .et_pb_row,
#ecommerce-custom-header .et_pb_column {
    padding    : 0 !important;
    text-align : center !important;
}

#ecommerce-custom-header .et_pb_column {
    text-align : center !important;
    width      : 100%;
}

#ecommerce-custom-header h1 {
    margin-bottom  : 0 !important;
    padding-bottom : 5px !important;
    line-height    : 1.2;
    font-weight    : 700;
}

#ecommerce-custom-header .woocommerce-breadcrumb {
    margin      : 0 !important;
    line-height : 1.5;
    font-weight : 400;
}

#ecommerce-custom-header .woocommerce-breadcrumb a,
.et-db #et-boc .et-l #ecommerce-custom-header .woocommerce-breadcrumb a {
    color : inherit;
}

@media (min-width : 981px) {
    #ecommerce-custom-header h1 {
        font-size : 35px;
    }

    #ecommerce-custom-header .woocommerce-breadcrumb {
        font-size : 15px;
    }
}

@media (min-width : 768px) and (max-width : 980px) {
    #ecommerce-custom-header h1 {
        font-size : 32px;
    }

    #ecommerce-custom-header .woocommerce-breadcrumb {
        font-size : 14px;
    }
}

@media (max-width : 767px) {
    #ecommerce-custom-header h1 {
        font-size : 27px;
    }

    #ecommerce-custom-header .woocommerce-breadcrumb {
        font-size : 13px;
    }
}

/**
 * #.#  Woocommerce forms
 *
 */

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.select2-container--default .select2-selection--single {
    width         : 100%;
    display       : block;
    font-size     : 14px;
    border-width  : 1px;
    border-style  : solid;
    border-radius : 1px;
    overflow      : hidden;
    position      : relative;
    box-shadow    : none;
}

.woocommerce form .form-row textarea {
    line-height : 1.5;
    padding     : 20px;
}

.woocommerce form .form-row input.input-text,
.select2-container--default .select2-selection--single {
    line-height : 1;
    height      : auto;
    padding     : 13px 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height : auto;
    top    : 50%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height : 1.5;
    color       : inherit;
    padding     : 0;
    font-weight : normal;
}

.woocommerce form .form-row label {
    text-transform : uppercase;
    line-height    : 1.5;
    font-size      : 13px;
    font-weight    : normal;
    margin-bottom  : 3px;
}

/**
 * #.#  WooCommerce archive page
 *
 */

.woocommerce-page.post-type-archive-product #left-area ul.products,
.woocommerce-page.tax-product_cat #left-area ul.products {
    border-top  : 1px solid rgba(0, 0, 0, 0.1);
    padding-top : 30px !important;
}

.woocommerce .woocommerce-result-count {
    margin-bottom : 20px !important;
    font-weight   : 400;
    line-height   : 1.5;
    padding       : 5px 5px 0 0 !important;
}

.orderby, .woocommerce div.product form.cart .variations td select {
    padding       : 7px 8px;
    border-style  : solid;
    border-width  : 1px;
    border-radius : 1px;
}

.term-description {
    margin-bottom : 30px;
}

.woocommerce-products-header img.term-img {
    margin-bottom : 15px;
}

/**
 * #.#  WooCommerce product in loop
 *
 */

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    font-size   : 16px !important;
    line-height : 1.25;
}

.woocommerce ul.products li.product .et_shop_image,
.woocommerce-page ul.products li.product .et_shop_image {
    margin-bottom : 10px;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color       : #111 !important;
    font-size   : 18px;
    font-weight : 600;
}

.woocommerce ul.products li.product .price del {
    display       : inline-block;
    padding-right : 5px !important;
}

.woocommerce ul.products li.product .star-rating {
    font-size : 85%;
}

.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    background       : #232323 !important;
    top              : -5px !important;
    left             : 15px !important;
    letter-spacing   : 1px;
    text-transform   : uppercase;
    font-size        : 14px !important;
    line-height      : 100% !important;
    padding          : 10px 12px !important;
    border-radius    : 0 !important;
    writing-mode     : vertical-rl;
    text-orientation : mixed;
}

.woocommerce ul.products li.product.outofstock .button.ajax_add_to_cart {
    display : none;
}


.woocommerce ul.products li.product .button.add_to_cart_button:hover,
.woocommerce ul.products li.product .product_type_variable.button:hover,
.woocommerce ul.products li.product.outofstock .button:hover,
.woocommerce.et-db #et-boc .et-l ul.products li.product .button.add_to_cart_button:hover,
.woocommerce.et-db #et-boc .et-l ul.products li.product .product_type_variable.button:hover,
.woocommerce.et-db #et-boc .et-l ul.products li.product.outofstock .button:hover {
    background : transparent !important;
}

.woocommerce ul.products li.product .button.ajax_add_to_cart.added:hover,
.woocommerce ul.products li.product .button.ajax_add_to_cart.loading:hover,
.woocommerce.et-db #et-boc .et-l ul.products li.product .button.ajax_add_to_cart.added:hover,
.woocommerce.et-db #et-boc .et-l ul.products li.product .button.ajax_add_to_cart.loading:hover {
    border-color     : rgba(0, 0, 0, 0.1) !important;
    background-color : rgba(0, 0, 0, 0.1) !important;
}


/**
 * #.#  Woocommerce Sidebar
 *
 */

/* Widget - Search form */

.divi-ecommerce-sidebar .widget_product_search label,
#sidebar .widget_product_search label {
    display : none;
}

.divi-ecommerce-sidebar form.woocommerce-product-search,
#sidebar .widget_product_search form.woocommerce-product-search {
    position      : relative;
    border-style  : solid;
    border-width  : 1px;
    border-radius : 1px;
    overflow      : hidden;
}

.divi-ecommerce-sidebar form.woocommerce-product-search:before,
#sidebar .widget_product_search form.woocommerce-product-search:before {
    font-family : "ETmodules";
    font-weight : 900 !important;
    font-size   : 16px;
    line-height : 1;
    margin-top  : -8px;
    content     : "\55";
    color       : #000;
    position    : absolute;
    right       : 10px;
    top         : 50%;
}

.divi-ecommerce-sidebar input.search-field,
#sidebar .widget_product_search input.search-field {
    border      : none;
    box-shadow  : none !important;
    font-size   : 15px;
    line-height : 1;
    padding     : 10px 30px 10px 15px;
    width       : 100% !important;
}

.divi-ecommerce-sidebar input[value="Search"],
#sidebar .widget_product_search input[value="Search"] {
    position   : absolute;
    right      : 0;
    top        : 0;
    height     : 100%;
    width      : 60px;
    font-size  : 0;
    background : transparent;
    box-shadow : none !important;
    border     : none !important;
    cursor     : pointer;
}

/* search bar button fix */
form.woocommerce-product-search button {
    display : none;
}

/* Widget - Product showcase */

.divi-ecommerce-sidebar ul.product_list_widget li,
#sidebar ul.product_list_widget li {
    border-bottom : 1px solid rgba(0, 0, 0, 0.05);
    padding       : 0 0 10px 0 !important;
    margin-bottom : 10px;
}

.divi-ecommerce-sidebar ul.product_list_widget li:last-child,
#sidebar ul.product_list_widget li:last-child {
    border : none;
}

.divi-ecommerce-sidebar ul.cart_list li img,
.divi-ecommerce-sidebar ul.product_list_widget li img,
#sidebar .woocommerce ul.cart_list li img,
#sidebar .woocommerce ul.product_list_widget li img {
    float        : left;
    margin-left  : 0;
    width        : 60px;
    margin-right : 15px;
}

.divi-ecommerce-sidebar ul.product_list_widget li a,
.divi-ecommerce-sidebar ul.cart_list li a,
#sidebar .woocommerce ul.product_list_widget li a,
#sidebar .woocommerce ul.cart_list li a {
    line-height : 1.2 !important;
}

.divi-ecommerce-sidebar ul.product_list_widget li span.product-title,
.divi-ecommerce-sidebar ul.cart_list li span.product-title,
#sidebar .woocommerce ul.product_list_widget li span.product-title,
#sidebar .woocommerce ul.cart_list li span.product-title,
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-size   : 14px !important;
    font-weight : 500;
    color       : #232323;
}

.divi-ecommerce-sidebar ul.product_list_widget li .star-rating,
#sidebar ul.product_list_widget li .star-rating {
    margin    : 5px 0;
    font-size : 11px;
}

.divi-ecommerce-sidebar ul.product_list_widget li .amount,
.divi-ecommerce-sidebar ul.cart_list li .amount,
#sidebar .woocommerce ul.product_list_widget li .amount,
#sidebar .woocommerce ul.cart_list li .amount {
    color : #000;
}

.divi-ecommerce-sidebar ul.product_list_widget li del .amount,
.divi-ecommerce-sidebar ul.cart_list li del .amount,
#sidebar .woocommerce ul.product_list_widget li del .amount,
#sidebar .woocommerce ul.cart_list li del .amount {
    opacity   : 0.5;
    font-size : 80%;
}

/* Widget - Cart */

.divi-ecommerce-sidebar .widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-top  : 1px solid rgba(0, 0, 0, 0.1);
    padding-top : 10px;
}

.divi-ecommerce-sidebar .woocommerce-mini-cart__buttons a.button,
.divi-ecommerce-sidebar .woocommerce-mini-cart__buttons a.button:hover,
.widget_shopping_cart .woocommerce-mini-cart__buttons a.button,
.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:hover {
    text-align : center;
}

@media (min-width : 1050px) {
    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button {
        width   : 49%;
        display : inline-block;
    }

    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button:first-child {
        margin-right : 2%;
    }

    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button:last-child {
        margin-right : 0;
    }
}

@media (min-width : 300px) and (max-width : 980px) {
    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button {
        width   : 49%;
        display : inline-block;
    }

    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button:first-child {
        margin-right : 2%;
    }

    .widget_shopping_cart .woocommerce-mini-cart__buttons a.button:last-child {
        margin-right : 0;
    }
}

/* Widget- Price Filter */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color : #DDD;
    border-radius    : 0;
    margin-bottom    : 20px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    width         : 12px;
    height        : 12px;
    top           : -6px;
    border        : none;
    border-radius : 0;
    margin        : 0;
    position      : absolute;
    z-index       : 2;
    cursor        : default;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:after {
    position            : absolute;
    top                 : 100%;
    left                : 0;
    content             : "";
    width               : 0;
    height              : 0;
    border-style        : solid;
    border-width        : 8px 6px 0 6px;
    border-right-color  : transparent;
    border-left-color   : transparent;
    border-bottom-color : transparent;
}

.woocommerce .widget_price_filter button.button {
    font-size      : 13px !important;
    line-height    : 29px !important;
    height         : 29px;
    border         : none !important;
    text-transform : uppercase !important;
    font-weight    : 500 !important;
    padding        : 0 12px !important;
    margin-right   : 10px;
    margin-bottom  : 10px;
}

.woocommerce .widget_price_filter button.button:hover {
    padding : 0 12px !important;
}

.woocommerce .widget_price_filter .price_label {
    font-size   : 13px;
    line-height : 29px !important;
    font-weight : normal;
    float       : right;
}

.woocommerce .widget_price_filter .price_label span {
    padding       : 5px;
    background    : #F5F5F5;
    border-radius : 2px;
}

/**
 * #.#  Single product page
 *
 */


.woocommerce div.product div.images .flex-control-thumbs li img {
    border : 1px solid transparent;
}

.woocommerce .woocommerce-variation-price {
    margin : 20px 0;
}

/* Headers */

.related.products > h2 {
    font-size      : 33px;
    margin-bottom  : 25px !important;
    padding-bottom : 0 !important;
    line-height    : 1.2;
    font-weight    : 700;
    position       : relative;
}

/* Tabs */

.et-db #et-boc .et-l .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls:after {
    display : none !important;
}

.divi-ecommerce-woo-tabs,
.woocommerce div.product .woocommerce-tabs {
    border : none !important;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls,
.woocommerce div.product .woocommerce-tabs ul.tabs {
    background-color : transparent !important;
    border           : none !important;
    margin           : 0;
    overflow         : visible;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls:after {
    display : none;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    position         : relative;
    display          : block;
    background-color : transparent !important;
    margin           : 0;
    padding          : 0;
    border-width     : 0 0 1px 0 !important;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li {
    float : none;
    width : 100%;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li.et_pb_tab_active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    color : #111 !important;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li a,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a,
body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    text-transform     : uppercase;
    font-size          : 15px;
    line-height        : 1.5;
    font-weight        : 500 !important;
    -webkit-transition : all 0.2s ease;
    -o-transition      : all 0.2s ease;
    transition         : all 0.2s ease;
    position           : relative;
    display            : block;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li.et_pb_tab_active a:before,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active a:before,
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:before {
    content            : "";
    position           : absolute;
    top                : 0;
    height             : 100%;
    width              : 2px;
    background-color   : #000000;
    -webkit-transition : all 0.2s ease;
    -o-transition      : all 0.2s ease;
    transition         : all 0.2s ease;
}

.divi-ecommerce-woo-tabs ul.et_pb_tabs_controls:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom : none !important;
}

.divi-ecommerce-woo-tabs .et_pb_all_tabs,
.woocommerce div.product .woocommerce-tabs .panel {
    position   : relative;
    overflow   : hidden;
    margin     : 0;
    border     : none;
    box-shadow : none;
}

.divi-ecommerce-woo-tabs .et_pb_all_tabs h2,
.woocommerce div.product .woocommerce-tabs .panel h2 {
    font-weight   : 600;
    font-size     : 21px;
    line-height   : 1.5;
    margin-bottom : 5px;
}

@media (min-width : 800px) {
    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls,
    .woocommerce div.product .woocommerce-tabs ul.tabs {
        float   : left;
        width   : 25%;
        padding : 0;
    }

    .divi-ecommerce-woo-tabs .et_pb_all_tabs,
    .woocommerce div.product .woocommerce-tabs .panel {
        border-left : 1px solid rgba(0, 0, 0, 0.1) !important;
        padding     : 10px 25px !important;
    }

    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li,
    body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li,
    body.woocommerce div.product .woocommerce-tabs ul.tabs li {
        border : none !important;
    }

    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li a,
    body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a,
    body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding : 10px 5px !important;
    }

    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li.et_pb_tab_active a:before,
    body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active a:before,
    body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:before {
        right : -1px;
    }
}

@media (max-width : 799px) {
    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li.et_pb_tab_active a:before,
    body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active a:before,
    body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:before {
        left : 0;
    }

    .divi-ecommerce-woo-tabs ul.et_pb_tabs_controls li a,
    body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a,
    body.woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding : 10px 15px !important;
    }
}

/* Reviews */

.woocommerce #reviews #comments h2,
.woocommerce-page #reviews #comments h2 {
    margin-bottom : 15px !important;
}

.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li {
    margin-bottom : 25px !important;
}

.woocommerce-Reviews .description p {
    font-size   : 14px;
    line-height : 1.5;
}

@media (min-width : 700px) {
    .woocommerce #reviews .commentlist .star-rating {
        float : right !important;
    }
}

.woocommerce-Reviews .meta {
    margin-bottom : 13px !important;
}

.woocommerce-Reviews .woocommerce-review__published-date {
    font-style : italic;
    font-size  : 13px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width         : 50px !important;
    height        : 50px !important;
    object-fit    : cover;
    border-radius : 50%;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    margin : 0 0 0 75px !important;
}

.woocommerce-Reviews #review_form_wrapper {
    margin : 10px 0;
}

.woocommerce-Reviews #respond span.comment-reply-title {
    font-weight : 600;
    color       : #000;
    font-size   : 16px;
    line-height : 1.5;
}

.woocommerce #review_form #respond p {
    margin  : 0 0 15px;
    padding : 0;
}

.et_button_no_icon.woocommerce #respond input#submit,
.et_button_no_icon.woocommerce-page #respond input#submit {
    padding : 10px 20px !important;
}

.et_button_no_icon.woocommerce #respond input#submit:hover,
.et_button_no_icon.woocommerce-page #respond input#submit:hover {
    padding : 10px 20px !important;
}

/* Product content */

.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom : 30px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-size     : 25px;
    margin-bottom : 25px;
    font-weight   : bold;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    font-size   : 75% !important;
    font-weight : 300;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    border-width  : 1px !important;
    border-style  : solid !important;
    border-radius : 1px;
}

.woocommerce div.product form.cart .button {
    font-size      : 15px;
    font-weight    : 600;
    text-transform : uppercase;
    border-radius  : 1px;
    padding        : 9px 15px !important;
}

.woocommerce div.product form.cart .button:hover {
    padding : 9px 15px !important;
}

.woocommerce div.product .product_meta {
    border : none;
}

.woocommerce div.product .product_meta > span {
    display       : block;
    padding       : 10px 0;
    border-bottom : 1px solid rgba(0, 0, 0, 0.05);
}

.woocommerce div.product .product_meta > span:last-child {
    border : none;
}

.woocommerce-product-rating a.woocommerce-review-link {
    font-weight : normal;
    color       : inherit;
}

/**
 * #.#  Woocommerce Notifications
 *
 */

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    font-size     : 16px !important;
    line-height   : 1.5;
    font-weight   : normal !important;
    position      : relative;
    color         : #888888 !important;
    background    : transparent !important;
    border        : 1px solid !important;
    padding       : 13px !important;
    margin-bottom : 20px;
}

.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border-color : rgba(0, 0, 0, 0.1) !important;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-error {
    color        : #EA0500 !important;
    border-color : #EA0500 !important;
}

.woocommerce-info a.button,
.woocommerce-info a.button.woocommerce-Button,
.woocommerce-message a.button,
.woocommerce-message a.button.wc-forward {
    padding       : 0 10px !important;
    font-size     : 13px !important;
    line-height   : 24px !important;
    height        : 24px !important;
    border        : 1px solid !important;
    border-radius : 1px;
}

.woocommerce-info a.showlogin,
.woocommerce-info a.showcoupon {
    display      : inline-block;
    padding-left : 5px;
    color        : inherit !important;
    font-weight  : 500;
    font-size    : inherit !important;
    line-height  : inherit;
}

.woocommerce-info a.button:hover,
.woocommerce-info a.button.woocommerce-Button:hover,
.woocommerce-message a.button:hover,
.woocommerce-message a.button.wc-forward:hover {
    padding : 0 10px !important;
}

/**
 * #.#  Woocommerce Checkout
 *
 */

@media (min-width : 981px) {
    form.woocommerce-checkout {
        margin-top : 30px;
    }

    #customer_details {
        float         : left;
        padding-right : 60px;
        position      : relative;
        width         : 65%;
    }

    #customer_details:before {
        content      : "";
        height       : 100%;
        width        : 1px;
        border-right : 1px solid rgba(0, 0, 0, 0.1);
        position     : absolute;
        right        : 30px;
        top          : 0;
        display      : block;
    }

    form.woocommerce-checkout #customer_details .col-1,
    form.woocommerce-checkout #customer_details .col-2 {
        float         : none;
        width         : 100%;
        margin-bottom : 30px;
    }

    #order_review {
        float : left;
        width : 35%;
    }
}

.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
h3#order_review_heading {
    font-weight : 600;
    font-size   : 20px;
    line-height : 1.5;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background    : #F9F9F9 !important;
    border-radius : 1px !important;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color : rgba(0, 0, 0, 0.075);
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
    border-width        : 10px;
    border-bottom-color : rgba(0, 0, 0, 0.075);
    top                 : -10px;
    margin              : -10px 0 0 10px;
}

.woocommerce #payment .terms,
.woocommerce #payment .wc-terms-and-conditions,
.woocommerce-page #payment .terms,
.woocommerce-page #payment .wc-terms-and-conditions {
    float : none;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    float      : none !important;
    display    : block;
    text-align : center;
    min-width  : 200px;
    margin     : 15px auto 10px !important;
}

.woocommerce-error li {
    font-size : 15px;
}

.woocommerce-error li:before {
    font-family   : "ETmodules";
    content       : "\72";
    font-size     : inherit;
    line-height   : inherit;
    padding-right : 5px;
}

/* Pay for order */

.woocommerce-order-pay .woocommerce form#order_review {
    float     : none !important;
    width     : 100% !important;
    max-width : 700px;
    margin    : 0 auto !important;
}

/* Order recieved */

.woocommerce-order-received .woocommerce-order {
    max-width : 900px;
    margin    : 0 auto;
}

.woocommerce-order-received .woocommerce-order .woocommerce-customer-details,
.woocommerce-order-received .woocommerce-order.woocommerce-order-details,
.woocommerce-order-received .woocommerce-order .woocommerce-order-downloads {
    margin-bottom : 0;
}

.woocommerce-order .woocommerce-thankyou-order-received {
    margin-bottom : 25px !important;
    font-size     : 17px;
    line-height   : 25px;
}

.woocommerce-order .woocommerce-thankyou-order-received:before {
    content       : "\4e";
    color         : #26C15F;
    font-size     : 20px;
    line-height   : 25px;
    font-weight   : bold;
    padding-right : 5px;
}

.woocommerce-order .woocommerce-thankyou-order-received:before {
    font-family : "ETmodules";
}

.woocommerce-MyAccount-content p:first-child {
    margin-bottom : 20px;
}

.woocommerce-customer-details h2,
.woocommerce-order-downloads h2,
.woocommerce-order-details h2 {
    font-weight : 600;
    font-size   : 23px;
    line-height : 1.5;
}

.woocommerce .woocommerce-customer-details address {
    padding : 15px;
}

/* Checkout additonal fields */

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border  : none;
    margin  : 0 auto 30px;
    padding : 0;
}

/**
 * #.#  Woocommerce Cart
 *
 */

@media (min-width : 981px) {
    .woo-cart form.woocommerce-cart-form {
        width         : 70%;
        float         : left;
        padding-right : 50px;
    }

    .woo-cart .cart-collaterals {
        width        : 30%;
        float        : left;
        border-left  : 1px solid rgba(0, 0, 0, 0.1);
        padding-left : 30px;
    }
}

.woo-cart .cart-collaterals .cart_totals {
    float : none !important;
    width : 100% !important;
}

.woo-cart .cart-collaterals .cart_totals h2 {
    font-weight : 600;
    font-size   : 20px;
    line-height : 1.5;
}

.woo-cart form.woocommerce-cart-form table.shop_table th,
.woo-cart form.woocommerce-cart-form table.shop_table td {
    border-color  : rgba(0, 0, 0, 0.01) !important;
    border-radius : 0;
}

/* TOTAL ORDER */

table.shop_table {
    border        : none !important;
    margin-bottom : 15px !important;
}

table.shop_table tr.cart-subtotal th,
table.shop_table tr.cart-subtotal td,
table.shop_table tr.shipping th,
table.shop_table tr.shipping td {
    padding : 10px 5px !important;
}

table.shop_table tr.cart-subtotal th,
table.shop_table tr.shipping th,
table.shop_table tr.order-total th {
    line-height    : 1;
    text-transform : uppercase;
    font-size      : 12px !important;
    vertical-align : middle !important;
}

table.shop_table tr.order-total th,
table.shop_table tr.order-total td {
    padding : 15px 5px !important;
}

table.shop_table tr.order-total strong {
    line-height : 1;
    font-weight : 700;
}

table.shop_table tr.order-total .amount {
    font-size   : 22px;
    font-weight : bold;
    color       : #000;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
    border-color : rgba(0, 0, 0, 0.1);
}

.woo-cart form.woocommerce-cart-form thead {
    text-transform : uppercase;
}

.woo-cart form.woocommerce-cart-form td {
    padding : 10px !important;
}

.woo-cart form.woocommerce-cart-form td.product-name a {
    font-size   : 15px;
    font-weight : bold;
    color       : #000;
}

.woo-cart form.woocommerce-cart-form td.product-remove a {
    text-align  : center;
    font-weight : normal;
    margin      : 0 auto;
}

.woo-cart form.woocommerce-cart-form td.product-subtotal {
    font-weight : bold;
}

.woo-cart form.woocommerce-cart-form img {
    width : 70px;
}

.woo-cart form.woocommerce-cart-form td.product-thumbnail {
    max-width : 90px !important;
}

.woo-cart form.woocommerce-cart-form td.product-quantity {
    text-align : center;
}

.woo-cart form.woocommerce-cart-form td.product-quantity input {
    font-size    : 14px !important;
    margin-right : 0;
    margin-left  : auto;
}

.woo-cart form.woocommerce-cart-form td.product-quantity .quantity {
    margin : 0 auto;
}

/* coupon code btn */

.woo-cart .coupon {
    position      : relative;
    margin-bottom : 0;
    display       : block;
    overflow      : hidden;
}

.woo-cart .coupon input#coupon_code {
    min-width : 200px;
}

.woo-cart .coupon input#coupon_code,
.woocommerce form.checkout_coupon input#coupon_code {
    padding     : 9px 15px !important;
    font-size   : 14px !important;
    line-height : 1 !important;
    height      : auto;
    box-shadow  : none !important;
    font-weight : normal !important;
}

.woo-cart .coupon input[name="apply_coupon"],
.woocommerce form.checkout_coupon input[name="apply_coupon"] {
    background  : #000 !important;
    color       : #FFF !important;
    padding     : 0 15px !important;
    font-size   : 16px !important;
    line-height : 40px !important;
    height      : 40px;
    border      : none !important;
}

.woo-cart .coupon input[name="apply_coupon"]:hover,
.woocommerce form.checkout_coupon input[name="apply_coupon"]:hover {
    padding     : 0 15px !important;
    font-size   : 16px !important;
    line-height : 40px !important;
    height      : 40px;
}

/* SHIPPING OPTIONS */

.shipping-calculator-form select {
    border-style  : solid;
    border-width  : 1px;
    padding       : 8px !important;
    border-radius : 1px !important;
}

/* Cross Sells */
.woo-cart .cross-sells {
    width       : 100%;
    clear       : left;
    padding-top : 30px;
    display     : block;
}

.woo-cart .cross-sells h2 {
    font-size     : 20px;
    line-height   : 1.5;
    margin-bottom : 10px;
    font-weight   : 600;
}

/**
 * #.#  Empty Cart
 *
 */

.return-to-shop {
    text-align : center;
}

.empty-cart {
    text-align    : center;
    margin-bottom : 15px;
    position      : relative;
    margin-top    : 30px;
}

.empty-cart p {
    font-size   : 19px;
    line-height : 1.5;
    font-weight : 300;
}

.empty-cart h1 {
    font-weight    : 700;
    line-height    : 1.25;
    margin-top     : 5px;
    padding-bottom : 0;
    font-size      : 35px;
}

.woo-cart p.cart-empty.woocommerce-info {
    display : none;
}

/**
 * #.#  My Account
 *
 */

/* NAVIGATION */

.woocommerce-MyAccount-navigation ul {
    list-style-type : none;
    padding         : 0;
}

.woocommerce-MyAccount-navigation ul li a {
    padding        : 15px 5px 15px 45px !important;
    display        : block;
    position       : relative;
    font-size      : 15px;
    font-weight    : 500 !important;
    text-transform : uppercase;
    line-height    : 1.3;
    color          : inherit;
    border-bottom  : 1px solid rgba(0, 0, 0, 0.05);
}

.woocommerce-MyAccount-navigation ul li:last-child a {
    border : none;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
    color : #000;
}

.woocommerce-MyAccount-navigation ul li.is-active a:after {
    content          : "";
    height           : 100%;
    width            : 2px;
    background-color : #000;
    position         : absolute;
    top              : 0;
    color            : inherit;
}

.woocommerce-MyAccount-navigation ul li a:before {
    font-family : "ETmodules" !important;
    line-height : 1;
    font-size   : 20px;
    margin-top  : -10px;
    color       : inherit;
    position    : absolute;
    left        : 15px;
    top         : 50%;
}

ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    content : "\e109";
}

ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    content : "\e015";
}

ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    content : "\e003";
}

ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    content : "\e01d";
}

ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    content : "\e014";
}

ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    content : "\4a ";
}

@media (min-width : 769px) {
    .woocommerce-MyAccount-navigation {
        border-right : 1px solid rgba(0, 0, 0, 0.1);
    }

    .woocommerce-MyAccount-navigation ul li.is-active a:after {
        right : 0;
    }
}

@media (max-width : 768px) {
    .woocommerce-MyAccount-navigation {
        margin-bottom : 25px;
    }

    .woocommerce-MyAccount-navigation ul li.is-active a:after {
        left : 0;
    }
}

/* Billing / Shipping addresses */

.woocommerce-Addresses .woocommerce-Address,
.addresses .woocommerce-column--billing-address,
.addresses .woocommerce-column--shipping-address {
    padding       : 20px !important;
    margin-bottom : 20px;
    border        : 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce-Addresses .woocommerce-Address address,
.addresses .woocommerce-column--billing-address address,
.addresses .woocommerce-column--shipping-address address {
    margin-bottom : 0;
    font-size     : 14px;
    line-height   : 1.5;
    border        : none;
    padding       : 0;
}

.woocommerce-Addresses .woocommerce-Address h2,
.addresses .woocommerce-column--billing-address h2,
.addresses .woocommerce-column--shipping-address h2 {
    font-size : 20px;
}

/* Orders */

.woocommerce-MyAccount-content .woocommerce-order-details {
    margin-top : 30px;
}

.woocommerce table.my_account_orders {
    font-size   : 14px;
    font-weight : normal;
}

.woocommerce table.shop_table_responsive tr td:before,
.woocommerce-page table.shop_table_responsive tr td:before {
    font-weight : 600;
}

.woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-actions a.button,
.woocommerce .woocommerce-table--order-downloads a.button,
.woocommerce .woocommerce-table--order-downloads a.woocommerce-MyAccount-downloads-file {
    padding       : 4px 8px !important;
    font-size     : 14px !important;
    line-height   : 1.2 !important;
    font-weight   : 600 !important;
    border-radius : 1px;
    margin-right  : 5px;
    margin-bottom : 2px;
    margin-top    : 2px;
}

.woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-actions a.button:last-child,
.woocommerce-table--order-downloads a.button:last-child,
.woocommerce-table--order-downloads a.woocommerce-MyAccount-downloads-file:last-child {
    margin-right : 0;
}

.woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-actions a.button:hover,
.woocommerce .woocommerce-table--order-downloads a.button:hover,
.woocommerce .woocommerce-table--order-downloads a.woocommerce-MyAccount-downloads-file:hover {
    padding : 4px 8px !important;
}

/* My Account page when user is not logged in */

.woocommerce-account:not(.logged-in) .woocommerce {
    max-width : 800px;
    margin    : 0 auto;
}

.woocommerce-account:not(.logged-in) .woocommerce h2 {
    font-weight : 600;
    font-size   : 23px;
    line-height : 1.5;
}

/* Fixes */

@media only screen and ( max-width : 768px ) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
        width : 100%;
    }

    .woocommerce-account .woocommerce-MyAccount-content {
        float : left;
        width : 100%;
    }
}

/* Number of columns */


@media all and (min-width : 1024px) {
    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-6 li.product {
        width  : 13.5% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-6 li.product.last {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-6 li.product:nth-child(6n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-5 li.product {
        width  : 16.96% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-5 li.product.last {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-5 li.product:nth-child(5n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-4 li.product {
        width  : 22.1% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-4 li.product.last {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-4 li.product:nth-child(4n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-3 li.product {
        width  : 30.6% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-3 li.product.last {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-3 li.product:nth-child(3n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-2 li.product {
        width  : 48% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-2 li.product.last {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-2 li.product:nth-child(2n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-1 li.product {
        width        : 100% !important;
        margin-right : 0 !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body) ul.products.columns-1 li.product:nth-child(n) {
        width        : 100% !important;
        margin-right : 0 !important;
    }
}

@media all and (min-width : 720px) and (max-width : 1024px) {
    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-5 ul.products li.product:nth-child(n) {
        width  : 16.96% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-5 ul.products li.product:nth-child(n):nth-child(5n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-5 ul.products li.product:nth-child(n):nth-child(5n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-4 ul.products li.product:nth-child(n) {
        width  : 22.1% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-4 ul.products li.product:nth-child(n):nth-child(4n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-4 ul.products li.product:nth-child(n):nth-child(4n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-3 ul.products li.product:nth-child(n) {
        width  : 30.6% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-3 ul.products li.product:nth-child(n):nth-child(3n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-3 ul.products li.product:nth-child(n):nth-child(3n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-2 ul.products li.product:nth-child(n) {
        width  : 48% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-2 ul.products li.product:nth-child(n):nth-child(2n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-2 ul.products li.product:nth-child(n):nth-child(2n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-tablet-1 ul.products li.product:nth-child(n) {
        width        : 100% !important;
        margin-right : 0 !important;
    }
}

@media all and (max-width : 719px) {
    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-3 ul.products li.product:nth-child(n) {
        width  : 30.6% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-3 ul.products li.product:nth-child(n):nth-child(3n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-3 ul.products li.product:nth-child(n):nth-child(3n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-2 ul.products li.product:nth-child(n) {
        width  : 48% !important;
        margin : 0 3.8% 2.992em 0 !important;
        clear  : none !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-2 ul.products li.product:nth-child(n):nth-child(2n) {
        margin-right : 0px !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-2 ul.products li.product:nth-child(n):nth-child(2n+1) {
        clear : both !important;
    }

    body[class*=woocommerce]:not(.et-tb-has-body).product-columns-mobile-1 ul.products li.product:nth-child(n) {
        width        : 100% !important;
        margin-right : 0 !important;
    }
}

.woocommerce.post-type-archive-product.wc-ags-hide-sale-flash .product .onsale {
    display : none;
}